{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block container %}
<div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="img/logo.png" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center pv">{% trans 'SIGNUP TO GET INSTANT ACCESS' %}.</p>
               <form role="form" data-parsley-validate="" novalidate="" class="mb-lg"
                     id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                     <input id="id_username" type="hidden" maxlength="150" minlength="1" name="username"
                       placeholder="Username" required class="form-control">
                  <div class="form-group has-feedback">
                     <label for="signupInputEmail" class="text-muted">{% trans 'Email address' %}</label>
                     <input autofocus="autofocus" id="signupInputEmail" type="email" placeholder="{% trans 'Enter email' %}"
                            autocomplete="off" name="email" required class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="password1" class="text-muted">{% trans 'Password' %}</label>
                     <input id="password1" name="password1" type="password" placeholder="{% trans 'Password' %}"
                            autocomplete="off" required class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="password2" class="text-muted">{% trans 'Retype Password' %}</label>
                     <input id="password2" name="password2" type="password"
                            placeholder="{% trans 'Retype Password' %}"
                            autocomplete="off" required data-parsley-equalto="#password1"
                            class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" value="" required name="agreed">
                           <span class="fa fa-check"></span>{% trans 'I agree with the' %} <a href="#">{% trans 'terms' %}</a>
                        </label>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-primary mt-lg">{% trans 'Create account' %}</button>
               </form>
               <p class="pt-lg text-center">{% trans 'Have an account?' %}</p>
              <a href="/accounts/login/" class="btn btn-block btn-default">{% trans 'Signup' %}</a>
            </div>
         </div>
         <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{% now 'Y' %}</span>
            <span>-</span>
            <span>MegaHet</span>
            <br>
            <span>Mega Schedule</span>
         </div>
      </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
    $('#signupInputEmail').on('blur',function(){
        $('#id_username').val($(this).val())
    });
});
</script>
{% endblock %}
