{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Reset password" %}{% endblock %}
{% block container %}
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="{% static '/app/img/logo.png' %}" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center pv">Resetear contraseña</p>
               <form role="form" method="post" action="">
                  {% csrf_token %}
                  <p class="text-center">Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña. por favor, compruebe
    Su correo electrónico y haga clic en el enlace para continuar.</p>

              <a href="http://declaracionsri.com" class="btn btn-block btn-default">Volver al inicio</a>
               </form>
            </div>
         </div>
      </div>
{% endblock %}
