{% extends "account/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Reset password" %}{% endblock %}
{% block container %}
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="{% static '/app/img/logo.png' %}" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center pv">Resetear contraseña</p>
               <form role="form" method="post" action="">
                  {% csrf_token %}
                  <p class="text-center">Rellene su correo para recibir instrucciones sobre cómo restablecer su contraseña</p>
                  <div class="form-group has-feedback">
                     <label for="id_email" class="text-muted">Dirección de correo</label>
                     <input id="id_email" type="email" name="email" placeholder="Enter email" autocomplete="off" class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <button type="submit" class="btn btn-danger btn-block">Resetear cambiar contraseña</button>
               </form>
            </div>
         </div>
      </div>
{% endblock %}

